<html>
<body>
<form action="/customers/addCustomer" method="post" enctype='multipart/form-data'>
<table>

	<tr>
		<td>CIN</td>
		<td>:</td>
		<td> <input type="text" name="cin" value="" ></td>
	</tr>

	<tr>
		<td>First Name</td>
		<td>:</td>
		<td> <input type="text" name="firstname" value="" ></td>
	</tr>	

	<tr>
		<td>Last Name</td>
		<td>:</td>
		<td> <input type="text" name="lastname" value="" ></td>
	</tr>

	<tr>
		<td>Username</td>
		<td>:</td>
		<td> <input type="text" name="username" value="" ></td>
	</tr>


	<tr>
		<td>Password</td>
		<td>:</td>
		<td> <input type="password" name="password" value="" ></td>
	</tr>

	<tr>
		<td>Email</td>
		<td>:</td>
		<td> <input type="text" name="email" value="" ></td>
	</tr>


	<tr>
		<td>Phone Number</td>
		<td>:</td>
		<td> <input type="text" name="phonenumber" value="" ></td>
	</tr>

	<tr>
		<td>* Address *</td>
		<td>:</td>

	</tr>


	<tr>
		<td>Street</td>
		<td>:</td>
		<td> <input type="text" name="street" value="" ></td>
	</tr>

	<tr>
		<td>City</td>
		<td>:</td>
		<td> <input type="text" name="city" value="" ></td>
	</tr>

	<tr>
		<td>State</td>
		<td>:</td>
		<td> <input type="text" name="state" value="" ></td>
	</tr>

	<tr>
		<td>ZipCode</td>
		<td>:</td>
		<td> <input type="number" name="zipCode" value="" ></td>
	</tr>

	<tr>
		<td>photo</td>
		<td>:</td>
		<td> <input type="file" id="fileinput" name ="img" multiple="multiple"  /></td>
	</tr>


	<tr>
		<td>
			<input type="submit" name="btn" value="Add">
			<input type="reset" name="btn" value="Reset">
		</td>
	</tr>
</table>
</form>
</body>


</html>