<html>
  <body>
    <form action="/vehicule/add" method="post">
      <table>
        <tr>
          <td>Registration Number</td>
          <td>:</td>
          <td><input type="text" name="registrationNumber" value="" /></td>
        </tr>
        <tr>
          <td>Model</td>
          <td>:</td>
          <td><input type="text" name="model" value="" /></td>
        </tr>
        <tr>
          <td>Weight Capacity</td>
          <td>:</td>
          <td><input type="text" name="weightCapacity" value="" /></td>
        </tr>
        <tr>
          <td>Trunk Volume</td>
          <td>:</td>
          <td><input type="text" name="trunkVolume" value="" /></td>
        </tr>
        <tr>
          <td>
            <input type="submit" name="btn" value="Add" />
            <input type="reset" name="btn" value="Reset" />
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
