<html>
<body>

    <table border="2">

	<tr>
		<td>ID</td>
		<td>:</td>
		<td> <%= user._id  %></td>
	</tr>
	<tr>
		<td>CIN</td>
		<td>:</td>
		<td><%= user.Cin   %></td>
	</tr>
	<tr>
		<td>First Name</td>
		<td>:</td>
		<td><%= user.FirstName   %></td>
	</tr>



</table>

</body>


</html>