<img src="wamya.png" alt="" />
<h2>Wamya Node js components using express.js</h2>
<nav class="navbar navbar-default" role="navigation">
  <h3>Delivery man :</h3>
  <ul class="nav navbar-nav">
    <li>
      <a href="">Delivery man </a>
    </li>
  </ul>
  <h3>Package & delivery :</h3>
  <ul class="nav navbar-nav">
    <li>
      <a href="">Deliveries</a>
    </li>
    <li>
      <a href="">Vehicles</a>
    </li>
    <li>
      <a href="">Packages</a>
    </li>
  </ul>
  <h3>Customer & Enterprise :</h3>
  <ul class="nav navbar-nav">
    <li>
      <a href="">Customers</a>
    </li>
    <li>
      <a href="">Entreprises</a>
    </li>
    <li>
      <a href="">Payement</a>
    </li>
  </ul>
</nav>